@import "sidebar";

//variables {
:root {
    --my-primary: #f4367c;
    --my-primary-darken:  #af2658;
}

html {
    font-size: 18px;
}

html > * {
    letter-spacing: 2px;
}

// override sidebar and additional navbar style
#wrapper {
    overflow-y: hidden;
}
#wrapper,
#sidebar-wrapper {
    height: calc(100vh - 64px) !important;
}
#sidebar-wrapper {
    border: unset;
    .list-group {
        &:hover, &:focus {
            &::-webkit-scrollbar {
                width: 0.5rem;
            }
        }
        &::-webkit-scrollbar {
            width: 0;
        }
        &::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, 0);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 0.5rem;
            background-color: rgba(0, 0, 0, 0.25);
        }
    }
    .list-group-item {
        border: unset;
        &.list-group-item-action.active {
            background: #212121;
        }
        &.list-group-item-action.active,
        &.list-group-item-action:hover {
            color: #f4367c;
            border-radius: 0 0.25rem 0.25rem 0;
        }
    }
}
#page-content-wrapper {
    min-height: calc(100vh - 64px) !important;
    overflow-y: auto;
}
.navbar {
    border-bottom: unset;
    z-index: 2;
}

// my custom override
.btn {
    border-radius: 0.25rem;
}
.bg-primary, .btn-primary {
    background-color: var(--my-primary) !important;
}
.btn-primary:hover {
    background-color: var(--my-primary-darken) !important;
}

.text-primary {
    color: var(--my-primary) !important;
}

.navbar {
    padding: 0 1rem;
    height: 64px;
    .navbar-brand {
        font-size: 1.5rem;
        padding: 0;
        font-family: "Bubblegum Sans", cursive;
        text-transform: none;
    }
}
.condensed > * {
    letter-spacing: normal;
}

#date-scroller {
    &:hover {
        &::-webkit-scrollbar {
            height: 0.5rem;
        }
    }
    &::-webkit-scrollbar {
        height: 0;
    }
    &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0.5rem;
        background-color: rgba(0, 0, 0, 0.25);
    }
}

// card list
#diary {
    .list-group-item {
        border: unset;
    }
}
.diary-card {
    transition: all ease-out .25s;
    transition-property: transform;
    width: fit-content;
}
.diary-card .img {
    width: 100px;
    height: 100px;
}
.diary-card:hover {
    transform: scale(1.05);
}
